In [1]:
# pandas 란 파이선에서 사용하는 데이터 분석 라이브러리

# 2. DataFrame - 2차원 데이터(Series 들의 모음)

In [2]:
df = pd.DataFrame(data)

df['키']
df[['이름', '키']]

df = pd.DataFrame(data, colume=['이름', '키', '학교'])

# column 순선 변경 하기
df = pd.DataFrame(data, colume=['이름', '학교', '키'])

# index 란 데이터에 접근할 수 있는 주소 값
lst = ['유재석', '하하']
lst[0]
lst[1]

NameError: name 'pd' is not defined

In [4]:
lst = ['유재석', '하하']
lst[0]
lst[1]

'하하'

In [10]:
import pandas as pd

df = pd.read_csv('score.csv', encoding='euc-kr')
df

   과목  1반  2반  3반  4반
0  수학  45  44  73  39
1  영어  76  92  45  69
2  국어  47  92  45  69
3  사회  92  81  85  40
4  과학  11  79  47  26

In [18]:
import pandas as pd

df = pd.read_csv('score.csv', encoding='euc-kr')

data = pd.DataFrame(df)

aa = pd.DataFrame(index=['1번', '2번', '3번', '4번', '5번'])

aa

Empty DataFrame
Columns: []
Index: [1번, 2번, 3번, 4번, 5번]

In [19]:
aa.reset_index()

  index
0    1번
1    2번
2    3번
3    4번
4    5번

In [21]:
aa.reset_index(drop=True)

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4]