In [34]:
import pandas as pd
import numpy as np

score=pd.read_csv("score.csv", index_col="과목", encoding="EUC-KR")
score

    1반  2반  3반  4반
과목
수학  45  44  73  39
영어  76  92  45  69
국어  47  92  45  69
사회  92  81  85  40
과학  11  79  47  26

In [35]:
score.sum()

1반    271
2반    388
3반    295
4반    243
dtype: int64

In [36]:
score.sum(axis=1)

과목
수학    201
영어    282
국어    253
사회    298
과학    163
dtype: int64

In [37]:
score["합계"]=score.sum(axis=1)
score["평균"]=score.loc[:,:"4반"].mean(axis=1)
score.loc["반평균"]=score.loc[:,:"4반"].mean()
score

       1반    2반    3반    4반     합계     평균
과목
수학   45.0  44.0  73.0  39.0  201.0  50.25
영어   76.0  92.0  45.0  69.0  282.0  70.50
국어   47.0  92.0  45.0  69.0  253.0  63.25
사회   92.0  81.0  85.0  40.0  298.0  74.50
과학   11.0  79.0  47.0  26.0  163.0  40.75
반평균  54.2  77.6  59.0  48.6    NaN    NaN

In [39]:
score.fillna(value=0, inplace=True)
score

       1반    2반    3반    4반     합계     평균
과목
수학   45.0  44.0  73.0  39.0  201.0  50.25
영어   76.0  92.0  45.0  69.0  282.0  70.50
국어   47.0  92.0  45.0  69.0  253.0  63.25
사회   92.0  81.0  85.0  40.0  298.0  74.50
과학   11.0  79.0  47.0  26.0  163.0  40.75
반평균  54.2  77.6  59.0  48.6    0.0   0.00

In [41]:
score.max(axis=1)

과목
수학     201.0
영어     282.0
국어     253.0
사회     298.0
과학     163.0
반평균     77.6
dtype: float64

In [42]:
score.min()

1반    11.0
2반    44.0
3반    45.0
4반    26.0
합계     0.0
평균     0.0
dtype: float64

In [43]:
score.loc[:"과학", :"4반"].max(axis=1)

과목
수학    73.0
영어    92.0
국어    92.0
사회    92.0
과학    79.0
dtype: float64

In [44]:
score.loc[:"과학", :"4반"].min(axis=1)

과목
수학    39.0
영어    45.0
국어    45.0
사회    40.0
과학    11.0
dtype: float64