In [12]:
import pandas as pd

obj2=pd.Series([4,7,-5,3])
obj2

0    4
1    7
2   -5
3    3
dtype: int64

In [13]:
obj2.values

array([ 4,  7, -5,  3])

In [19]:
obj2.index

RangeIndex(start=0, stop=4, step=1)

In [15]:
obj2.dtype

dtype('int64')

In [28]:
s=pd.Series([9904312,3448737,2890451,2466052],index=(['서울', '부산', '대구', '경주']))
s.name='인구'
s

서울    9904312
부산    3448737
대구    2890451
경주    2466052
Name: 인구, dtype: int64

In [29]:
s.index.name='도시'
s

도시
서울    9904312
부산    3448737
대구    2890451
경주    2466052
Name: 인구, dtype: int64

In [30]:
s/1000000

도시
서울    9.904312
부산    3.448737
대구    2.890451
경주    2.466052
Name: 인구, dtype: float64

In [35]:
s[1], s['부산']
s[2], s["경주"]

C:\Users\taeyeon\AppData\Local\Temp\ipykernel_9200\1493393646.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  s[1], s['부산']
C:\Users\taeyeon\AppData\Local\Temp\ipykernel_9200\1493393646.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  s[2], s["경주"]

(np.int64(2890451), np.int64(2466052))

In [37]:
s[[1,3,0]]

C:\Users\taeyeon\AppData\Local\Temp\ipykernel_9200\3748978714.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  s[[1,3,0]]

도시
부산    3448737
경주    2466052
서울    9904312
Name: 인구, dtype: int64

In [42]:
s[s>=2500000]

도시
서울    9904312
부산    3448737
대구    2890451
Name: 인구, dtype: int64

In [44]:
s[(s>=2500000) & (s<=5000000)]

도시
부산    3448737
대구    2890451
Name: 인구, dtype: int64

In [45]:
s[(s>=2500000) | (s<=5000000)]

도시
서울    9904312
부산    3448737
대구    2890451
경주    2466052
Name: 인구, dtype: int64

In [50]:
#시리즈 슬라이싱
s[0:3]

도시
서울    9904312
부산    3448737
대구    2890451
Name: 인구, dtype: int64

In [49]:
s["부산":"대구"]

도시
부산    3448737
대구    2890451
Name: 인구, dtype: int64